{% extends "base.html" %}

{% block title %}Midpoints and Perpendicular Bisectors{% endblock %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <hr>
  <p><a href="{{ url_for('index') }}">🔙 Back to Mathematics</a></p>
  <h1>Midpoints and Perpendicular Bisectors</h1>
  
  <!-- Lesson content will go here -->

{% endblock %}