{% extends "base.html" %}

{% block title %}Who Am I?{% endblock %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<a href="{{ url_for('index') }}" class="back-to-home">🏠 Back to Home</a>


<div class="aboutMeBlock" style="max-width: 800px; margin: 0 auto; padding: 20px; text-align: center;"></div>
<h1>About me & K4Maths.com</h1>
<p class = "AboutMeText" style="text-align: left;">My name is Hamim, the creator of K4Maths.com. I'm simply just a student - like you - passionate about making Maths and Physics accessible to everyone at any skill level. I started this website to share my knowledge, and help others excel in these subjects, especially considering how difficult it can be sometimes.<br><br>
All the content on the website took me a very long time to create; countless hours of refinement and dedication went into making these tutorials as clear and helpful as possible.<br><br>
If you have any questions, suggestions, or just want to say hi, feel free to <a href="{{ url_for('contact_me') }}"><strong>get in touch</strong></a>. I'm always happy to hear from fellow learners and/or educators.</p>

</div>
<div style = "content: right; text-align: center; position: right; padding: 20px 20px ; margin: 10px 10px; max-width: 800px; margin: 0 auto;">
<iframe src="https://www.geogebra.org/graphing/fr5hkn8d?embed" width="800" height="600" allowfullscreen style="border: 1px solid #e4e4e4;border-radius: 4px;" frameborder="0"></iframe>

{% endblock %}