    <footer>
  <div class="footer-row">
    <span class="footer-text">©️ 2026 K4MATHS.COM</span>
    <span class="footer-text">Made with ❤️ solely by Hamim Kakar</span>
    <span class="footer-text">⚠️ Not affiliated with any exam board ⚠️</span>
  </div>
  <div class="footer-row">
    <span class="footer-text">📧 For questions: <a class="footer-text" href="{{ url_for('contact_me') }}">Contact me</a></span>
    <span class="footer-text">🕒 Last updated: 31/3/2026</span>
    <span class="footer-text"><a class="footer-text" href="{{ url_for('survey') }}">📋 Take my survey</a></span>
  </div>
  <div class="footer-row">
    <span class="footer-text">🚧 This website is still in development, so please be patient with me.</span>
    <span class="footer-text">📢 Please share this website with your friends and family!</span>
    <span class="footer-text">🙏 Thank you for visiting!</span>
  </div>
  <div class="footer-row">
    <span class="footer-text">👥 Shoutout to: <span class="footer-friends-list">Arya, Owen, Kyle, Samson, Adam, Broderick, Assad, Nik, Joel, Sahim, Tyrese, Neville, Elisha, Elena, Goku and Bradley</span></span>
  </div>
  <div class="footer-logos">
    <img src="{{ url_for('static', filename='maths-navbar.png') }}" alt="K4Maths Logo" class="footer-logo">
    <img src="{{ url_for('static', filename='edexcel-logo.png') }}" alt="Edexcel Logo" class="footer-logo">
  </div>
</footer>