{% extends "base.html" %}

{% block title %}Volumes of Revolution Around the X-Axis{% endblock %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <hr>
  <p><a href="{{ url_for('volumes_of_revolution') }}">🔙 Back to Volumes of Revolution</a></p>
  <h1>Volumes of Revolution Around the X-Axis</h1>
  
  <!-- Lesson content will go here -->

{% endblock %}