{% extends "base.html" %}

{% block title %}Expressions Relating to the Roots of a Polynomial{% endblock %}

{% block head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <hr>
  <p><a href="{{ url_for('roots_of_polynomials') }}">🔙 Back to Roots of Polynomials</a></p>
  <h1>Expressions Relating to the Roots of a Polynomial</h1>
  
  <!-- Lesson content will go here -->

{% endblock %}